*.py[cod]
*.pyo
*.pyd
*.d
*.o
*.so
dist/
build/
.backup/
*.stackdump
*~
*.egg-info
setuptools-*.egg
.ropeproject/

*.egg

*.sw[op]

# Virtualenv
env

bin/

# tests and coverage
.tox/
.coverage
cover/
coverage.xml
nosetests.xml

# debug files
valgrind_stderr.txt
both.txt
impermium_only.txt
james_only.txt
